@font-face {
    font-family: 'Monument';
    font-style: normal;
    font-weight: 400;
    src: local('Monument'), url('https://fonts.cdnfonts.com/s/4583/Monument.woff') format('woff');
}
@font-face {
    font-family: 'Monument';
    font-style: normal;
    font-weight: 400;
    src: local('Monument'), url('https://fonts.cdnfonts.com/s/4583/Monument.woff') format('woff');
}


